annotated-types==0.7.0
anyio==4.13.0
bcrypt==4.0.1
click==8.3.3
fastapi==0.115.12
h11==0.16.0
idna==3.10
passlib[bcrypt]==1.7.4
psycopg2-binary==2.9.12
pydantic==2.11.7
pydantic_core==2.33.2
python-dotenv==1.1.0
python-jose[cryptography]==3.5.0
python-multipart==0.0.20
starlette==0.46.2
typing_extensions==4.14.0
uvicorn==0.34.2